.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid var(--background_secondary);
  border-radius: 20px;
  background: var(--background_secondary);
  font-weight: bold;
  color: white;
  cursor: pointer;
  user-select: none;
}

.toggleButton {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  border-radius: 20px;
  background: var(--background_tertiory);
  transition: all 0.3s;
}

.checked {
  left: 50%;
}

.toggleText {
  padding: 10px 30px;
  text-align: center;
  z-index: 1;
  color: var(--body_color);
  transition: color 0.3s;
}

.toggleContainer div:first-child span {
  color: var(--body_color);
}

.toggleContainer div:last-child span {
  color: var(--body_color);
}
