.container {
  min-height: 100vh;
  width: 100%;
  background-color: #15181b;
  color: white;
  display: flex;
  position: relative;
  animation: slideUp 1s forwards;
  animation-delay: 5s;
}

@keyframes slideUp {
    0% {
      transform: translateY(40%);
    }
    100% {
      transform: translateY(0%);
    }
  }
@media (max-width: 1024px) {
    .container{
        display: block;
    }
}



