.container {
  height: 100vh;
  width: 100%;
  background-color: #fff4df;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  animation: slideUp 1s forwards;
  animation-delay: 5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.header #logo {
  height: 40px;
  margin-right: 10px;

  animation: rotate 1s linear forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(360deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo_text {
  font-size: 30px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
}
.centered_section {
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-left: 20%;
}

.centered_row {
  padding: 10px;
}
.content {
  font-weight: 600;
  font-size: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 70px;
}
.content img {
  object-fit: contain;
}
.frameImg1 {
  width: 330px;
  animation: frame1Img 4s infinite;
  overflow: hidden;
}
.frameImg1 img {
  width: 330px;
}

@keyframes frame1Img {
  50% {
    width: 250px;
  }
}

.frameImg2 {
  width: 490px;
  animation: frame2Img 4s infinite;
  overflow: hidden;
}
.frameImg2 img {
  width: 490px;
  position: relative;
  top: -130px;
}

@keyframes frame2Img {
  50% {
    width: 350px;
  }
}

.frameImg3 {
  width: 230px;
  animation: frame3Img 4s infinite;
  overflow: hidden;
}
.frameImg3 img {
  width: 320px;
  position: relative;
}

@keyframes frame3Img {
  50% {
    width: 320px;
  }
}
.frameImg4 {
  width: 150px;
  overflow: hidden;
}
.frameImg4 img {
  width: 150px;
  position: relative;
  top: 20px;
}

.frameImg5 {
  width: 250px;
  animation: frame5Img 4s infinite;
  overflow: hidden;
}
.frameImg5 img {
  width: 250px;
}

@keyframes frame5Img {
  50% {
    width: 180px;
  }
}

.frameImg6 {
  width: 130px;
  animation: frame6Img 4s infinite;
  overflow: hidden;
}
.frameImg6 img {
  width: 450px;
  position: relative;
  left: -160px;
}

@keyframes frame6Img {
  50% {
    width: 290px;
  }
}

.frameImg7 {
  width: 110px;
  animation: frame7Img 4s infinite;
  overflow: hidden;
  background-color: aqua;
}
.frameImg7 img {
  width: 320px;
  position: relative;
  left: -60px;
  top: 50px;
  animation: frame7Imgscale 4s infinite;
}

@keyframes frame7Img {
  50% {
    width: 210px;
  }
}
@keyframes frame7Imgscale {
  50% {
    scale: 1.2;
  }
}
.frameImg8 {
  width: 150px;
  overflow: hidden;
}
.frameImg8 img {
  width: 250px;
  position: relative;
  top: -60px;
  left: -40px;
}
@media (max-width: 1220px) {
  .centered_section {
    margin-left: 10%;
  }
}

@media (max-width: 1024px) {
  .content {
    font-size: 2rem;
    height: 50px;
  }
  .centered_section {
    display: flex;
    margin-left: 10%;
    align-items: center;
    height: 70vh;
  }

  .frameImg2 {
    width: 410px;
    animation: frame2Img 4s infinite;
  }

  @keyframes frame2Img {
    50% {
      width: 300px;
    }
  }

  .frameImg3 {
    width: 200px;
    animation: frame3Img 4s infinite;
  }
  .frameImg3 img {
    width: 320px;
    position: relative;
  }

  @keyframes frame3Img {
    50% {
      width: 270px;
    }
  }

  .frameImg6 {
    width: 100px;
    animation: frame6Img 4s infinite;
  }
  .frameImg6 img {
    width: 450px;
    position: relative;
    left: -160px;
  }

  @keyframes frame6Img {
    50% {
      width: 230px;
    }
  }

  .frameImg7 {
    width: 130px;
    animation: frame7Img 4s infinite;
    background-color: aqua;
  }
  .frameImg7 img {
    width: 320px;
    position: relative;
    left: -60px;
    top: 50px;
  }

  @keyframes frame7Img {
    50% {
      width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .content {
    font-size: 1rem;
    height: 30px;
  }

  .frameImg2 {
    width: 370px;
    animation: frame2Img 4s infinite;
  }

  @keyframes frame2Img {
    50% {
      width: 250px;
    }
  }

  .frameImg3 {
    width: 180px;
    animation: frame3Img 4s infinite;
  }
  .frameImg3 img {
    width: 320px;
    position: relative;
  }

  @keyframes frame3Img {
    50% {
      width: 200px;
    }
  }

  .frameImg6 {
    width: 80px;
    animation: frame6Img 4s infinite;
  }
  .frameImg6 img {
    width: 450px;
    position: relative;
    left: -160px;
  }

  @keyframes frame6Img {
    50% {
      width: 160px;
    }
  }

  .frameImg7 {
    width: 140px;
    animation: frame7Img 4s infinite;
    background-color: aqua;
  }
  .frameImg7 img {
    width: 320px;
    position: relative;
    left: -60px;
    top: 50px;
  }

  @keyframes frame7Img {
    50% {
      width: 160px;
    }
  }
}
@media (max-width: 500px) {
  .content {
    font-size: 1rem;
    height: 30px;
  }
  .centered_section {
    display: flex;
    margin-left: 7%;
  }
  .frameImg1 {
    width: 100px;
    animation: frame1Img 4s infinite;
    overflow: hidden;
  }
  .frameImg1 img {
    width: 230px;
  }

  @keyframes frame1Img {
    50% {
      width: 120px;
    }
  }

  .frameImg2 {
    width: 150px;
    animation: frame2Img 4s infinite;
  }

  @keyframes frame2Img {
    50% {
      width: 160px;
    }
  }

  .frameImg3 {
    width: 50px;
    animation: frame3Img 4s infinite;
  }
  .frameImg3 img {
    width: 320px;
    position: relative;
  }

  @keyframes frame3Img {
    50% {
      width: 100px;
    }
  }
  .frameImg4 {
    width: 70px;
  }

  .frameImg5 {
    width: 50px;
    animation: frame5Img 4s infinite;
    overflow: hidden;
  }
  .frameImg5 img {
    width: 250px;
  }

  @keyframes frame5Img {
    50% {
      width: 100px;
    }
  }

  .frameImg6 {
    width: 70px;
    animation: frame6Img 4s infinite;
  }
  .frameImg6 img {
    width: 450px;
    position: relative;
    left: -160px;
  }

  @keyframes frame6Img {
    50% {
      width: 50px;
    }
  }

  .frameImg7 {
    width: 40px;
    animation: frame7Img 4s infinite;
    background-color: aqua;
  }
  .frameImg7 img {
    width: 320px;
    position: relative;
    left: -60px;
    top: 50px;
  }

  @keyframes frame7Img {
    50% {
      width: 100px;
    }
  }
  .frameImg8 {
    width: 50px;
  }
}
