.banner_container {
  overflow: hidden;
  width: 5%;
  background-color: #b9a0ff;
  color: #000;
  height: auto;
}

.banner_container span {
  writing-mode: vertical-lr;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  height: 100vh;
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 1024px) {
  .banner_container {
    height: 70px;
    width: auto;
  }

  .banner_container span {
    writing-mode: horizontal-tb;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    height: 70px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
}
